In [3]:
import pandas as pd
panda_series=[4, 8, 15, 16, 23, 42]

In [4]:
pd.Series(panda_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
y={
    "Name":['Yogesh','Tiwari','Sir'],
    'Age':['22','20','25'],
    'Gender':['Male','Male','Male']
}

In [6]:
pd.DataFrame(y)

     Name Age Gender
0  Yogesh  22   Male
1  Tiwari  20   Male
2     Sir  25   Male

In [7]:
l1=['a','b','c','d','e','f','g','h','i','j']

In [8]:
pd.Series(l1)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [9]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# series is 1D and homogenus in nature and dataFrame is 2D and hetrogenus in nature

In [ ]:
# Panel: It is a 3-D, size-mutable array.
# Mutability. All Pandas data structures are value mutable (can be changed) and except Series
# all are size mutable. Series is size immutable.