In [56]:
#1  sorting tupples inside a list
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l.sort(key=lambda x:x[1])
print(l)

# l=[1,21,3,8,56,10,9,42]
# l.sort()
# print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [61]:
#2  map ,lambda and sqrt
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
# 3 list to string tuple
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# tuple(l2)
tuple(map(lambda x:str(x),l2))
# t=tuple("yogesh")
# print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [84]:
from functools import reduce

In [92]:
# 4 reduce fx mul 1...25
l3=list(range(1,26))
# print(l3)
reduce(lambda x,y:x*y,l3)

15511210043330985984000000

In [102]:
# 5 filter val%2 and 3==0
l4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0 ,l4 ))

[6, 60, 90, 120]

In [103]:
l5=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:x==x[::-1],l5))

['php', 'aba', 'radar', 'level']